<div class="container-head">
    <h1>ABOUT US</h1>
</div>
<div class="container-body">
    <div class="d-flex justify-content-center" style="height: 350px;">
        <img src="/assets/images/sample.jpeg" class="img-fluid" alt="" style="width: 520px; height: 230px;">
        <p>AuditorWorks is a multi professional firm with partners from the field of Chartered accountant, Company Secretary, Cost and Management Accountant and Advocate. Mr. Sadayappan Subramanian is the partner & CEO of AuditorWorks. AuditorWorks works mainly with startups and entrepreneurs across Tamilnadu. The company's branches are located in Tirunelveli, Nagercoil, Tenkasi, Tuticorin and Pondicherry. AuditorWorks team is expertised in handling startups registration, compliances, income tax filing, gst filing, merger & acquisitions and other allied services. AuditorWorks has assisted startups in fundraising and due diligence works</p>
    </div>
</div>